* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "hamburgers/_sass/hamburgers/hamburgers.scss";
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

@import 'variables';
@import 'responsive';
@import 'generals';
@import "mixins/mixinhelpers.scss";
@import "footer";
@import 'header';
// **************** components ***************

@import 'components/main.scss';
// **************** end components ***************
// **************** main ***************

@import 'sections/main.scss';
// **************** end main ***************
body {
  font-size: 18px;
  font-family: $sans-font;
  overflow-x: hidden;

}