:root {
  --default-font: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  // property sets what does a browser when reaching the boundary
  // of scrolling area

  overscroll-behavior-y: none;
  background-color: #ffffff;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}
